.chessboard {
  display: grid;
  /* background-color: brown; */
  height: auto;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(8, 75px);
  align-content: center;
  justify-content: center;
}

.chessboard > .board-square {
  background-color: gray;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

/* .chessboard > .board-square:hover {
  background-color: lightgray;
} */

.chessboard > .light-square {
  background-color: rgb(237,214,176);
}

.chessboard > .dark-square {
  background-color: rgb(184,135,98);
}

.chessboard > .highlight-square {
  background-color: yellow;
}

nav {
  background-color: lightgray;
  color: black;
  min-height: 4em;
}

#player-turn {
  font-size: 5em;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}