:root {
  --move-duration: 400ms;
}

.chessboard {
  display: grid;
  /* background-color: brown; */
  height: auto;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(8, 75px);
  align-content: center;
  justify-content: center;
}

.chessboard > .board-square {
  background-color: gray;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}


.chess-piece {
  transition: all var(--move-duration);
}

.chess-piece:hover {
  /* transform: scale(1.8); */
  /* transform: translate(50px, 100px); */
}


.chessboard > .light-square {
  background-color: rgb(237,214,176);
}

.chessboard > .dark-square {
  background-color: rgb(184,135,98);
}

.chessboard > .highlight-square {
  background-color: yellow;
}

nav {
  background-color: lightgray;
  color: black;
  min-height: 4em;
}

#player-turn {
  font-size: 5em;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.player-turn {
  font-size: 3em;
  /* border: 1px solid black; */
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  color: rgb(199, 199, 199);
  background-color: lightgray;
}

.player-turn-active {
  background-color: black;
  font-weight: bold;
  color: white;
}