.chessboard {
  display: grid;
  /* background-color: brown; */
  border: 1px solid black;
  height: auto;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(8, 75px);
  padding: 10px;
  align-content: center;
  justify-content: center;
}

.chessboard > .board-square {
  background-color: gray;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.chessboard > .board-square:hover {
  background-color: lightgray;
}

.chessboard > .light-square {
  background-color: white;
}

.chessboard > .dark-square {
  background-color: black;
  color: white;
}